.sc-card {
  background-color: $white;
  -webkit-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 12px -8px rgba(0,0,0,0.75);

  .sc-card-container {
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "content"
        "footer";

    .sc-card-header {
      grid-area: header;
      padding: 10px;

      h3 {
        margin-top: 0px;
      }

      hr {
        background-color: $primary-color;
        height: 3px;
      }
    }
    
    .sc-card-content {
      grid-area: content;
      padding: 10px;
    }
    
    .sc-card-footer {
      grid-area: footer;
      padding: 10px;
    }

    .sc-card-item {
      margin-bottom: 15px;
    }
  }
}