.sc-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    
}

.sc-col {
    width: 100%;
    background: darkblue;
    border-radius: 5px;
}

.sc-app-container {
    width: 100%;
    height: 100%;
    transition: grid-template-columns 5s;
    transition: background-color 5s;

    background-color: aliceblue;

    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
        "sidebar footer";
}

.sc-header {
    grid-area: header;
}

.sc-content {
    grid-area: content;
}

.sc-footer {
    grid-area: footer;
}

.sc-sidebar {
    grid-area: sidebar;
    background-color: red;
}

.sc-row {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
    padding: 5px;
}