@each $align, $direction in $directions {
    .sc-align--#{$align} {
        text-align: $direction;
    }
}

@each $justify, $direction in $directions {
    .sc-justify-items--#{$justify} {
        justify-items: $direction;
    }
}

@media only screen and (max-width: 600px) {
    .sc-hide--xs {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .sc-hide--sm {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .sc-hide--md {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .sc-hide--lg {
        display: none;
    }
}