$directions: (
    left: left,
    center: center,
    right: right
);

$primary-color: #0097E3;
$secondary-color: #004263;
$warning-color: #D69A39;
$danger-color: #CF5345;
$success-color: #34C77B;
$white: #FAFCFC;