@import "vars";
@import "grid";
@import "utils";
@import "button";
@import "inputs";
@import "label";
@import "list-item";
@import "panel";
@import "card";
@import "tooltip";
@import "spinner";
@import "nav";

body, html{
    margin: 0px;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    background-color: $grey;
}